body, html {
    height: 100%;
    background-color: #3B3B3B;
}
h1 {
    text-align: center;
    color: #B0903D;
}
#hatos {
    position: absolute;
    display: flex;
    height: 50px;
    width: auto;
    margin-left: 15px;
}
#szerencsejatek {
    float: right;
    display: flex;
    height: 50px;
    width: auto;
    margin-right: 15px;
}
#mainContent {
    background: url("paper.jpg");
    height: 100%;
    position: center;
    margin-left: 25%;
    margin-right: 25%;
}