<html>
    <head>
        <title>Asd</title>
    </head>
    <body>
        <h1>Valami</h1>
        <form action="/hatoslotto/index.php?hany_hatos" method="post"> 
            <p>hany hatos</p>
            <input type="submit">
        </form>
        <form action="/hatoslotto/index.php?hatos_evente" method="post"> 
            <p>hatos evente</p>
            <input type="submit">
        </form>
        <form action="/hatoslotto/index.php?eloszlas" method="post"> 
            <p>eloszlas</p>
            <input type="submit">
        </form>
        <form action="/hatoslotto/index.php?export" method="post"> 
            <p>export</p>
            <input type="text" name="ev_start">
            <input type="text" name="ev_utolso">
            <input type="submit">
        </form>
    </body>
</html>