<!DOCTYPE html>
<head>
    <title>Hatoslottó</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/views/static/css/pdf.css">
    <!--Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <!-- Bootstrap Scripts -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/views/static/js/pdf.js"></script>
</head>

<body>
    <h1>Pdf exportáló</h1>
<header>
    <img id="hatos" src="/views/static/img/hatos.png" alt="Hatoslottó logo"/>
    <img id="szerencsejatek" src="/views/static/img/szerencsejatek.png" alt="Szerencsejáték Zrt."/>
</header>
<main>
    <div class="w-25">
        <ul class="nav nav-pills flex-column align-items-center">
            <li class="nav-item">
                <a class="nav-link active" href="index.php">Főoldal</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href = "/index.php?grafikon_page">Grafikon</a>
            </li>
        </ul>
    </div>
    <div>
        <form action="/index.php?export" method="post">
            <div class="form-group">
              <label for="start_year">Kezdő év</label>
              <input type="text" class="form-control" name="start_year" id="start_year" placeholder="2008">
            </div>
            <div class="form-group">
                <label for="end_year">Utolsó év</label>
                <input type="text" class="form-control" name="end_year" id="end_year" placeholder="2010">
            </div>
            <div class="form-group">
                <label for="money">Nyeremény értéke nagyobb, mint</label>
                <input type="number" class="form-control" name="money" id="money">
            </div>
            <button type="submit" id="submit_btn">Megtekint</button>
            <button type="submit" id="export_btn">Pdf</button>
        </form>
    </div>
    <div>
        <table id="talalatok_table" class="table"></table>
    </div>
</main>

</body>